#order{
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url('../../Images/bg1.jpg');
  background-size: contain;
  box-shadow:0px 19px 60px rgb(0 0 0 / 8%);
}

.o-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.o-body span{
  font-size: 4rem;
}

.o-btn{
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--green);
  font-size: 2rem;
}

.o-btn:hover{
  background:hsla(0,0%,100%,.26);

}

.o-btn a {
  text-decoration: none;
  color: white;
}