#offer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 1rem;
}

.of-body {
  font-size: 3rem;
  /* display: flex; */
}
.of-body span:nth-child(2){
  color: var(--green);
  font-weight: bold;
  padding-left: 10px;
}

.of-right{
  display: flex;
  justify-content: center;
}

.of-right img{
  padding: 1rem;
  max-height: 400px;
  opacity: 0.9;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

