.navbar{
  height: 64px;
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  padding:1rem 2rem 1rem 2rem;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: ghostwhite;
  

}
.n-left {
  font-size: 20px;
  letter-spacing: 3px;
}

.n-list{
  display: flex;
  align-items: center;
  justify-content: center;
}

.n-list li {
  padding:0 1rem;
  list-style-type: none;
}

.n-btn{
  margin-left: 10px;
  color:white;
  background-color: var(--green);
}

.n-btn:hover{
  color: var(--black);
}

